body{
    margin: 0;
    font-family: 'PT Sans Caption';
}

.container-meu{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('https://4k-wallpapers.net/uploads/posts/2021-02/thumbs/1614185673_valley-landscape-mountains-gradient-background-colorful-background.jpg');
    background-size: cover;
}

#Texto-Header{
    color: white;
    font-size: 20px;
    left: 250px;
    top: 135px;
}

#Titulos{
    color: white;
}